<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enroll to Zentica</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to CSS file for styling -->
</head>
<body>
    <div class="form-container">
        <form id="registrationForm">
            <h2>Enroll to Zentica</h2>
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required >
            </div>
            <div class="input-group">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" required>
            </div>
            <div class="input-group">
                <label for="profile">Monetizing category:</label>
                <input type="text" id="profile" name="profile" required>
            </div>
            <button type="submit">Register</button>
            <a href="client.html"></a>
        </form>
    </div>
    <script src="script.js"></script> <!-- Link to JavaScript file -->
</body>
</html>
