body {
    font-family: Futura, Times, serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sliderContainer {
    position: relative;
    width: 300px;
}
.sliderValue {
    position: relative;
    background-color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    transform: translateX(-50%);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
/* Dropdown button style */
.dropbtn {
background-color: #f9f9f9;
color: black;
padding: 8px;
font-size: 16px;
border: 1px solid #ccc;
cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Dropdown items style */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/* Change dropdown button color on hover */
.dropdown:hover .dropbtn {
background-color: #e7e7e7;
}

.form-container input + input, /* Space between adjacent input fields */
.form-container input[type='range'] + button { /* Space between an input field directly followed by a button */
    padding: 50px;
}







input[type="range"] {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}



input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #003580;
}
